.container {
  display: flex;
  justify-content: center;
  /* justify-content: flex-start; */
  align-items: center;

  margin: 0;
  padding: 0%;
  list-style: none;

  gap: 5%;

  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    justify-content: flex-start;
  }
}
