.container {
  display: flex;
  justify-content: center;
  /* justify-content: flex-start; */
  align-items: center;

  margin: 0;
  padding: 0%;
  list-style: none;

  gap: 5%;

  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.tmp {
  display: flex;
  justify-content: center;

  align-items: center;
}

.arrowLeft {
  border: solid #f8f9f9;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  display: none;
}

.arrowRight {
  border: solid #f8f9f9;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  display: none;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    justify-content: flex-start;
  }

  .arrowLeft,
  .arrowRight {
    display: initial;
  }
}
