.header {
  position: fixed;
  height: 10vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.small {
  display: none;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

.logo {
  padding: 0 50px;
  font-size: 48px;
  color: #f8f9f9;
}

.navbar li {
  position: relative;
  float: left;
}

.navbar li div {
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 50px;
  color: #f8f9f9;
}

.navbar li ul {
  position: absolute;
  text-transform: uppercase;
  list-style: none;
  font-size: 18px;
  padding-left: 0;
  color: #f8f9f9;
  width: 135px;
  display: none;
  background: rgba(248, 249, 249, 0.1);
  left: 40px;
}

.navbar li ul li {
  position: relative;
  padding: 20px 0;
  text-indent: 10px;
  width: 100%;
}

.navbar li ul li:hover {
  background: rgba(248, 249, 249, 0.2);
}

.mobileNavToggle {
  display: none;
}

.navbar li:focus-within > ul,
.navbar li:hover > ul {
  display: inherit;
}

@media (max-width: 768px) {
  .logo {
    padding: 0 10px;
  }

  .full {
    display: none;
  }

  .small {
    display: initial;
  }

  .navbar {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 0%;
    inset: 0 0 0 55%;
    background: rgba(248, 249, 249, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);

    transform: translateX(100%);
    gap: 20px;
    overflow: hidden;
    transition: 0.5s;
  }

  .navbar li {
    position: relative;
    margin-left: 0;

    margin-right: auto;
  }

  .navbar li div {
    padding: 10px 20px;

    background: rgba(0, 0, 0, 0.1);
  }

  .navbar li ul {
    position: relative;
    display: initial;
    left: -10px;
  }

  .navbar li ul li {
    padding: 10px 20px;
  }

  .navbar li:focus-within > ul,
  .navbar li:hover > ul {
    width: 100%;
  }

  .mobileNavToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    font-size: 18px;
    width: 10%;
    aspect-ratio: 1 / 1;

    margin-left: auto;
    margin-right: 5%;

    border: 0;
    color: #f8f9f9;

    z-index: 1;
  }

  .mobileNavClose {
    display: none;
    justify-content: center;
    align-items: center;
    background: inherit;
    font-size: 18px;
    width: 10%;
    aspect-ratio: 1 / 1;

    margin-left: auto;
    margin-right: 5%;

    border: 0;
    color: #f8f9f9;

    z-index: 1;
  }
}
