.card {
  width: 640px;
  height: 400px;
  margin: 5%;
  position: relative;
}

.card .image {
  position: absolute;

  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.card:hover .image {
  transform: scale(1.1);
}

.card .leftMask {
  position: absolute;

  width: 40%;
  right: 65%;
  top: -5%;

  height: 110%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(100px);

  transition: all 0.5s;
}

.card:hover .leftMask {
  right: -5%;
}

.card .leftMask .box {
  color: #f8f9f9;

  height: 45%;
  width: 80%;
  overflow: hidden;
  transition: all 0.5s;
}

.card:hover .leftMask .box {
  height: 80%;
}

.card .leftMask .box h1 {
  text-align: center;
  font-size: 48px;
  line-height: 100%;
  padding: 5% 10%;
  transition: all 0.5s;
}

.card .leftMask .box p {
  line-height: 120%;
  font-weight: lighter;
  transform: translateY(200px);
  transition: all 0.5s;

  color: #f8f9f9;
}

.card:hover .leftMask .box p {
  transform: translateY(0px);
}

.title {
  font-size: 28px;
  font-family: "Montserrat";
  letter-spacing: 5px;
}
