.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    145deg,
    rgba(0, 225, 253, 0.9) 0%,
    rgba(252, 0, 122, 0.9) 100%
  );
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: absolute;
}

.container {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  position: relative;
}

.container .card {
  position: absolute;
  right: -20px;

  width: 70%;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  transition: 0.5s;
}

.container .menu {
  padding: 0;
  position: absolute;
  left: 0;
  color: #f8f9f9;
  list-style: none;
  font-weight: lighter;
  font-size: 24px;
}

.container .menu li {
  padding: 30px;
}

.container .menu li:hover {
  background: rgba(248, 249, 249, 0.1);
}

.container .card img {
  width: 100%;
  height: 100%;
  display: none;
}
