.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(145deg, #3494e6 0%, #ec6ead 100%);
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: absolute;
  top: 0;
}

.container {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  position: relative;
}

.container .card {
  position: absolute;
  right: 40px;

  width: 70%;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border-radius: 15px;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */

  transition: 0.5s;
}

.container .menu {
  padding: 0;
  position: absolute;
  left: 60px;
  list-style: none;
}

.container .menu li button {
  color: #f8f9f9;
  font-weight: lighter;
  font-size: 24px;
  font-family: "League Spartan";
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 30px;
}

.container .menu li:hover {
  background: rgba(248, 249, 249, 0.1);
}

.container .menu li:active {
  background: rgba(248, 249, 249, 0.2);
}

.container .card div div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background: rgba(248, 249, 249, 0.05);
  padding: 10px;
  margin: 20px;
  animation: animate 3s ease-in-out infinite;
}

.container .card .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.container .card .items[id="start"] div {
  color: #f8f9f9;
  font-size: 96px;

  border: 0;
  background: transparent;
  box-shadow: none;
}

.container .card .items[id="os"] {
  display: none;
}

.container .card .items[id="os"] div:nth-child(1) {
  width: 250px;
  height: 250px;
}

.container .card .items[id="os"] div:nth-child(2) {
  width: 180px;
  height: 180px;
  animation-delay: -0.5s;
}

.container .card .items[id="ms"] {
  display: none;
}

.container .card .items[id="ms"] div:nth-child(1) {
  width: 350px;
}
.container .card .items[id="ms"] div:nth-child(2) {
  width: 350px;
  animation-delay: -0.5s;
}

.container .card .items[id="db"] {
  display: none;
}

.container .card .items[id="db"] div:nth-child(1) {
  width: 250px;
}
.container .card .items[id="db"] div:nth-child(2) {
  width: 250px;

  animation-delay: -0.5s;
}
.container .card .items[id="db"] div:nth-child(3) {
  width: 250px;

  animation-delay: -1s;
}
.container .card .items[id="db"] div:nth-child(4) {
  width: 250px;

  animation-delay: -1.5s;
}

.container .card .items[id="others"] {
  display: none;
}

.container .card .items[id="others"] div:nth-child(1) {
  width: 200px;
}
.container .card .items[id="others"] div:nth-child(2) {
  width: 180px;

  animation-delay: -0.5s;
}

.container .card .items[id="others"] div:nth-child(3) {
  width: 150px;
  animation-delay: -1s;
}

.container .card .items[id="others"] div:nth-child(4) {
  width: 250px;
  height: 250px;
  animation-delay: -1.5s;
}

.container .card .items[id="others"] div:nth-child(5) {
  width: 180px;
  animation-delay: -2s;
}

.container .card img {
  width: 100%;
  height: 100%;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
}

@media (max-width: 1024px) {
  .container .menu {
    left: 20px;
  }
}

@media (max-width: 768px) {
  .container .card {
    right: 0;
  }
}

@media (max-width: 560px) {
  .container .card {
    width: 50%;
    right: 0;
  }
  .container .menu {
    left: 0px;
  }

  .container .card .items {
    height: 60%;
  }

  .container .menu li button {
    padding: 20px 30px;
  }

  .container .card .items[id="start"] div {
    font-size: 48px;
  }

  .container .card .items[id="os"] div:nth-child(1) {
    width: 150px;
    height: 150px;
  }

  .container .card .items[id="os"] div:nth-child(2) {
    width: 120px;
    height: 120px;
    animation-delay: -0.5s;
  }

  .container .card .items[id="ms"] div:nth-child(1) {
    width: 200px;
  }

  .container .card .items[id="ms"] div:nth-child(2) {
    width: 200px;
    animation-delay: -0.5s;
  }
  .container .card .items[id="db"] div:nth-child(1) {
    height: 80px;
  }

  .container .card .items[id="db"] div:nth-child(2) {
    width: 120px;
    height: 120px;
    animation-delay: -0.5s;
  }

  .container .card .items[id="db"] div:nth-child(3) {
    height: 60px;
    animation-delay: -1s;
  }

  .container .card .items[id="db"] div:nth-child(4) {
    height: 60px;
    animation-delay: -1.5s;
  }

  .container .card .items[id="others"] div:nth-child(1) {
    height: 60px;
  }
  .container .card .items[id="others"] div:nth-child(2) {
    height: 70px;

    animation-delay: -0.5s;
  }

  .container .card .items[id="others"] div:nth-child(3) {
    height: 50px;
    animation-delay: -1s;
  }

  .container .card .items[id="others"] div:nth-child(4) {
    height: 80px;
    animation-delay: -1.5s;
  }

  .container .card .items[id="others"] div:nth-child(5) {
    height: 40px;
    animation-delay: -2s;
  }
}

@media (orientation: landscape) and (max-height: 400px) {
  .box {
    min-height: 200vh;
  }
}
