.box {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    145deg,
    rgba(0, 225, 253, 0.8) 0%,
    rgba(252, 0, 122, 0.8) 100%
  );

  height: 100%;
  min-height: 900px;
  width: 100%;

  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  position: absolute;
  top: 0;
}

.box::-webkit-scrollbar {
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  z-index: 2;

  width: 80%;
  text-align: center;
  color: #f8f9f9;
  font-weight: 300;
  font-size: 28px;
  line-height: 200%;
  width: 100%;
  padding-top: 150px;
}

.container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60%;

  position: relative;
}

.container .card {
  position: relative;
  overflow: hidden;

  width: 300px;
  height: 400px;
  min-width: 300px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;

  border-radius: 15px;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  transition: 0.5s;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
}

.container .card .content {
  position: relative;
  width: 100%;
  height: 100%;

  left: 0;
  padding: 15% 10%;

  z-index: 5;
  transition: 0.5s;
  color: #f8f9f9;
  white-space: pre-wrap;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .card .content button {
  padding: 20px 20px;

  border-radius: 15px;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  color: #f8f9f9;
  font-family: "League Spartan";
  font-size: 24px;
  background: linear-gradient(
    145deg,
    rgba(0, 225, 253, 0.1) 0%,
    rgba(252, 0, 122, 0.1) 100%
  );
  backdrop-filter: blur(1px);

  cursor: pointer;
  transform: translateY(400%);
  transition: 0.5s;
  position: relative;
}

.container .card:hover .content button {
  transform: translateY(0%);
}

.container .card:hover .content button:hover {
  background: linear-gradient(
    145deg,
    rgba(0, 225, 253, 0.2) 0%,
    rgba(252, 0, 122, 0.2) 100%
  );
}

.container .card .content img {
  width: 400px;
  height: 400px;
  opacity: 0.1;
  top: 20px;
  left: 30px;
  position: absolute;
  transition: 0.5s;
}

.container .card:hover .content img {
  width: 400px;
  height: 400px;

  top: 0px;
  left: 0px;
  position: absolute;
}

.container .card .content h2,
.container .card .content p {
  width: 100%;
  transition: 0.5s;
  font-size: 36px;
}

.container .card:hover .content h2,
.container .card:hover .content p {
  transform: translateY(-50%);
}

.container .card .content p {
  font-weight: 100;
  font-size: 18px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    white-space: normal;
  }

  .container {
    flex-wrap: wrap;
  }

  .box {
    height: 1800px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    height: 100%;
  }

  .container .card {
    margin: 10px 10px;
  }

  .title {
    white-space: normal;
    padding: 0px 20px;
    margin-bottom: 20px;
    font-size: 20px;

    padding-top: 25%;
  }
}

@media (max-width: 639px) {
  .container {
    height: 200%;
  }
}
