.scene {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    145deg,
    rgba(20, 57, 102, 1) 0%,
    rgba(52, 6, 78, 1) 100%
  );
  top: 0;
  overflow: hidden;
}

.earth {
  width: 180%;
  height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;

  overflow: hidden;
}
