.scene {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    145deg,
    rgba(17, 1, 22, 1) 0%,
    rgba(3, 18, 37, 1) 100%
  );
  top: 0;
  overflow: hidden;
}

.title {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;
  /* white-space: nowrap; */
  z-index: 2;

  width: 80%;
  text-align: center;
  color: #f8f9f9;
  font-weight: 300;
  font-size: 28px;
  line-height: 200%;
  width: 100%;
  padding-top: 150px;
}

.item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 40%;
  width: 50%;
  height: 40%;
  flex-wrap: wrap;
  color: #f8f9f9;
  font-weight: 300;
  font-size: 64px;
  z-index: 2;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-10%);
  }
}

.images {
  position: absolute;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-radius: 15px;
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  top: 25%;
  left: 5%;
  width: 60%;
  height: 65%;

  min-width: 960px;
  min-height: 540px;
  display: none;
}

.images::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  border-radius: 15px;

  background: #f8f9f9;
}

.images::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: #f8f9f9;

  filter: blur(20px);
}

.earth {
  width: 180%;
  height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mapMarker {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  width: 1%;
  height: 1%;
}

.mapMarker::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  background: linear-gradient(
    145deg,
    rgba(254, 244, 227, 1) 0%,
    rgba(255, 251, 223, 1) 100%
  );
}

.mapMarker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: linear-gradient(
    145deg,
    rgba(254, 244, 227, 1) 0%,
    rgba(255, 251, 223, 1) 100%
  );

  filter: blur(20px);
}
