.background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 900px;
  background: linear-gradient(145deg, #232526 0%, #414345 100%);

  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.background::-webkit-scrollbar {
  display: none;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  text-align: center;
  color: #f8f9f9;
  font-weight: 300;
  font-size: 28px;
  line-height: 200%;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 20px;
}

.banner {
  width: 100%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .image {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner .image h1 {
  padding: 20px;
  margin: 0;
  color: #f8f9f9;
  font-size: 1000%;
}

.banner .image p {
  padding: 20px;
  margin: 0;
  color: #f8f9f9;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 500%;
}

.nameContainer {
  position: absolute;
  top: 20%;
  width: 100%;
  opacity: 0.8;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner .image .imageContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.details1 {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details2 {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details1 h1,
.details2 h1 {
  padding: 40px;
  margin: 0;
  color: #f8f9f9;
  font-size: 48px;
}

.details1 .difficulty {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details1 .time {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 100px;
  height: 100px;
  position: relative;
}

.details2 .ingredients {
  text-align: right;
  height: 100%;
  width: 40%;
}

.details2 .steps {
  height: 100%;
  width: 60%;
}
