.background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;

  background: linear-gradient(145deg, SteelBlue 0%, MidnightBlue 100%);
  background: #030202;
  background: linear-gradient(
    145deg,
    rgba(251, 199, 250, 1) 0%,
    rgba(147, 243, 254, 1) 100%
  );
  top: 0;
  overflow: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.background::-webkit-scrollbar {
  display: none;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  text-align: center;
  color: #f8f9f9;
  font-weight: 300;
  font-size: 28px;
  line-height: 200%;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 20px;
}

.container {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;
  flex-wrap: wrap;
}
