.background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 900px;
  background: #030202;

  overflow: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.background::-webkit-scrollbar {
  display: none;
}

.slider {
  position: absolute;
  left: 20%;
  bottom: 5%;
  width: 60%;
  height: 15%;
}

.backgroundContainer {
  transition: all 0.5s;
  animation: fadeIn 0.5s ease-in-out;
}

.internalTechStack {
  display: none;
}

.infoBox {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px 20px;
  color: #f8f9f9;

  background: white;
  width: 480px;
  height: 50%;
  min-height: 450px;

  top: 20%;
  right: 5%;

  background: transparent;
  border: 1px solid rgba(248, 249, 249, 0.2);
  border-right: 1px solid rgba(248, 249, 249, 0.1);
  border-left: 1px solid rgba(248, 249, 249, 0.1);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(100px);

  animation: enter 0.5s ease-in-out;
  transition: all 0.5s;
}

@keyframes enter {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes enterLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.infoBox h1 {
  text-align: center;
  font-size: 48px;
  line-height: 100%;
}

.infoBox p {
  padding: 0px 50px;
  font-size: 24px;
  line-height: 120%;
  font-weight: lighter;
}

.infoBox .github {
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 1;
  transition: all 0.5s;
  transform: translateX(-10px);

  cursor: pointer;
}

.techStack {
  background: transparent;
  border: 1px solid rgba(248, 249, 249, 0.2);
  border-right: 1px solid rgba(248, 249, 249, 0.1);
  border-left: 1px solid rgba(248, 249, 249, 0.1);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(100px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  left: 5%;
  top: 25%;
  width: 320px;
  height: 40%;
  min-height: 360px;

  gap: 10px;

  animation: enterLeft 0.5s ease-in-out;
  transition: all 0.5s;
}

.techStack .stack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 20px;
  gap: 10px;
}

.icon {
  position: relative;
  width: 50px;
  height: 50px;
}

.githubIcon {
  position: relative;
  width: 36px;
  height: 36px;
}

.techStack h1 {
  text-align: center;
  color: #f8f9f9;
  font-size: 30px;

  line-height: 100%;
  font-weight: lighter;
}

.menuContainer {
  position: relative;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 50%;

  padding: 0 2%;
  display: flex;
  justify-content: center;

  align-items: center;

  transition: all 0.5s;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 240px;
  height: 100%;
  overflow: scroll;

  background: transparent;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(100px);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  transition: all 0.5s;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu .pjItem {
  margin: 5%;
}

.menu .pjItem button {
  width: 100%;
  color: #f8f9f9;
  font-weight: lighter;
  font-size: 24px;
  font-family: "League Spartan";
  line-height: 120%;
  cursor: pointer;
  padding: 20px 0px;
  background: transparent;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(100px);
}

.menu .pjItem button:hover {
  background: rgba(248, 249, 249, 0.05);
}

.menu .pjItem button:active {
  background: rgba(248, 249, 249, 0.1);
}

.back {
  position: absolute;
  color: #f8f9f9;
  font-weight: lighter;
  font-size: 20px;
  font-family: "League Spartan";
  cursor: pointer;
  background: transparent;
  border: 0;
  left: 5%;
  bottom: 5%;
  padding: 20px;

  opacity: 0;
  transform: translateX(-100%);

  transition: all 0.5s;
}

@media (max-width: 900px) {
  .background {
    min-height: 0px;
  }

  .techStack {
    display: none;
  }

  .internalTechStack {
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    display: flex;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .githubIcon {
    width: 20px;
    height: 20px;
  }

  .infoBox {
    width: 240px;
    right: 2%;

    top: 15%;
    width: 70%;
    right: 15%;
    height: 60%;
    min-width: 280px;
    min-height: 360px;

    backdrop-filter: blur(30px);
  }

  .infoBox h1 {
    font-size: 24px;
  }

  .infoBox p {
    padding: 0px 20px;
    font-size: 14px;
  }

  .slider {
    left: 10%;
    width: 80%;
  }

  .menuContainer {
    min-width: 120px;
  }

  .menu {
    backdrop-filter: blur(30px);
  }

  .menu .pjItem button {
    padding: 10px 0px;
    font-size: 16px;
    backdrop-filter: blur(10px);
  }

  .back {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 400px) {
  .background {
    min-height: 200vh;
  }

  .techStack {
    display: none;
  }

  .internalTechStack {
    display: flex;
  }

  .slider {
    left: 10%;
    width: 80%;
  }
}
