.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  z-index: 1;
  width: 100%;
  height: 100%;
  top: -5%;
}

.box {
  position: relative;
  border-radius: 15px;
  height: 30%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);
  transition: 0.5s;
}

.box:hover {
  height: 40%;
  aspect-ratio: 1 / 1.2;
}

.box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  box-sizing: border-box;
}

.box .image img {
  max-height: 100%;
  opacity: 1;
  transition: 0.5s;
}

/* .box:before {
  content: "";
  border-radius: 15px;
  position: absolute;

  z-index: -1;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);
} */

.box:hover:after {
  content: "";
  border-radius: 15px;
  position: absolute;
  top: -10%;
  bottom: -10%;
  left: -10%;
  right: -10%;
  background: #00adb5;
  z-index: -1;
  border: 1px solid rgba(248, 249, 249, 0.4);
  border-right: 1px solid rgba(248, 249, 249, 0.2);
  border-left: 1px solid rgba(248, 249, 249, 0.2);
  filter: blur(800px);
}

.box .content {
  position: absolute;
  top: 80%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

.box:hover .content {
  opacity: 1;
}
