.top {
  position: absolute;
  background: #030202;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 900px;
}

.top::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    145deg,
    rgba(218, 248, 255, 0.4) 0%,
    rgba(152, 209, 240, 0.4) 45%,
    rgba(69, 134, 208, 0.4) 83%,
    rgba(32, 100, 194, 0.4) 100%
  );
}

.mask404 {
  background: linear-gradient(
    145deg,
    rgba(246, 144, 147, 1) 0%,
    rgba(247, 226, 239, 1) 100%
  );

  z-index: 1;
  display: block;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
}

.titleOverlay {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 15%;
  color: #f8f9f9;
}

.titleOverlay .title {
  font-size: 110px;
}

.titleOverlay .subtitle {
  font-size: 40px;
  font-weight: lighter;
}

.titleOverlay .subtitleSmall {
  display: none;
}

@media (max-width: 35em) {
  .top {
    min-height: 0px;
  }

  .titleOverlay {
    gap: 5%;
    padding: 0;
    text-align: center;
  }

  .titleOverlay .subtitle {
    display: none;
  }

  .titleOverlay .subtitleSmall {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 40px;
    font-weight: lighter;
    padding: 2%;
  }
}
