.container {
  height: 900%; /* no. bg * height% of each bg + 100% */
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.banner {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all 0.5s;
}

.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;

  text-align: center;
  color: #f8f9f9;

  font-weight: 300;
  font-size: 28px;

  position: absolute;
  width: 100%;
  transition: all 0.5s;
}

#title1 {
  top: 30%;
}

#title2 {
  right: 40%;
  top: 85%;
}

#title3 {
  left: 40%;
  top: 60%;
}

#title4 {
  left: 40%;
  top: 80%;
}

.up {
  transform: translateY(-100%);
}

.content {
  position: absolute;

  line-height: 120%;
  background: #f8f9f9;
  font-weight: 300;
  font-size: 28px;
  padding: 3%;

  transition: all 0.5s;
}

.in {
  opacity: 1;
  transform: translateX(0%);
}

.outLeft {
  opacity: 0;
  transform: translateX(-30%);
}

.outRight {
  opacity: 0;
  transform: translateX(30%);
}

#intro1 {
  top: 40%;
  left: 5%;
  width: 25%;
  min-width: 400px;
}

#intro2 {
  top: 50%;
  right: 5%;
  width: 30%;
  min-width: 480px;
}

#intro3 {
  top: 20%;
  right: 5%;
  width: 35%;
  min-width: 560px;
}

#intro4 {
  top: 60%;
  right: 5%;
  width: 45%;
  min-width: 720px;
}

#intro5 {
  top: 20%;
  left: 5%;
  width: 40%;
  min-width: 640px;
}

#intro6 {
  top: 50%;
  left: 5%;
  width: 45%;
  min-width: 720px;
}

#intro7 {
  top: 20%;
  left: 5%;
  width: 35%;
  min-width: 560px;
}

#intro8 {
  top: 20%;
  right: 5%;
  width: 35%;
  min-width: 560px;
}

.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50);
  margin: 3%;
  transition: all 0.5s;
}

.normal {
  transform: scaleY(1);
}
.opposite {
  transform: scaleY(-1);
}

.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #f8f9f9;
  border-right: 1px solid #f8f9f9;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(1) {
  animation-delay: -0.2s;
  transform: rotate(45deg) translate(-20px, -20px);
}

.arrow span:nth-child(2) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
